<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="finalizarExamen()">
        <ion-icon name="chevron-back-outline" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-img src="https://cadif1.com/img/template/logo-cadif1.svg" slot="start" class="imagenCadi"></ion-img>
    <ion-buttons slot="end">
      <ion-button (click)="finalizarExamen()">
        <ion-icon name="add-circle-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="preguntas" class="preguntas" color="light">
  <div *ngIf="examenPreguntas">

    <h5>Pregunta Nº {{examenPreguntas[nroPregunta].id}}</h5>

    <ion-list>
      <ion-radio-group>
        <ion-list-header>
          <ion-label>{{examenPreguntas[nroPregunta].enunciado}}</ion-label>
        </ion-list-header>

        <ion-item color="light">
          <ion-label>{{examenPreguntas[nroPregunta].opcion1}}</ion-label>
          <ion-radio value="1" slot="start"></ion-radio>
        </ion-item>

        <ion-item color="light">
          <ion-label>{{examenPreguntas[nroPregunta].opcion2}}</ion-label>
          <ion-radio value="2" slot="start"></ion-radio>
        </ion-item>

        <ion-item color="light">
          <ion-label>{{examenPreguntas[nroPregunta].opcion3}}</ion-label>
          <ion-radio value="3" slot="start"></ion-radio>
        </ion-item>

        <ion-item color="light">
          <ion-label>{{examenPreguntas[nroPregunta].opcion4}}</ion-label>
          <ion-radio value="4" slot="start"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <ion-buttons>
      <ion-button (click)="anterior()" [class.button-disabled]="nroPregunta == 0">
        Anterior
      </ion-button>

      <ion-button (click)="siguiente()" *ngIf="nroPregunta < 4">
        Siguiente
      </ion-button>

      <ion-button class="btnFinalizar" (click)="finalizarExamen()" *ngIf="nroPregunta == 4">
        Finalizar
      </ion-button>
    </ion-buttons>

  </div>
</ion-content>