<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="secondary">
      <ion-button color="light">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
      <ion-button color="light">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button color="light">
        <ion-icon slot="icon-only" ios="ellipsis-vertical" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="light">Carrera</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <main class="ion-text-start ion-margin">
    <h3>Programación de aplicaciones</h3>
    <hr color="secondary">
    <p style="display:inline; margin-right: 5px;">Creando el Frontend</p>
    <ion-icon name="logo-ionic"></ion-icon>
    <article>
      <div style="margin-top: 40px;">
        <h6 style="display:inline; margin-right: 5px;">Pre requisitos</h6>
        <ion-icon name="code-working-sharp"></ion-icon>
        <ul>
          <li>Angular Nivel I</li>
        </ul>
      </div>
      <div style="margin-top: 40px;">
        <h6 style="display:inline; margin-right: 5px;">Objetivos específicos</h6>
        <ion-icon name="checkmark-sharp"></ion-icon>
        <ul>
          <li>Conocer las tecnologías que se utilizan al crear aplicaciones híbridas.</li>
          <li>Aprender a crear aplicaciones con Ionic.</li>
          <li>Ejecutar y simular aplicaciones móviles.</li>
        </ul>
      </div>
      <div style="margin-top: 40px;">
        <h6 style="display:inline; margin-right: 5px;">Contenido general del Nivel</h6>
        <ion-icon name="book-sharp"></ion-icon>
        <ol>
          <li>Introducción a Ionic</li>
          <li>Estructura Del Proyecto</li>
          <li>Estructura de Las Vistas</li>
          <li>Barra de Herramientas</li>
          <li>Componentes de Ionic. Parte 2</li>
          <li>Contenido Dinámico</li>
          <li>Tabs</li>
          <li>Interactuando Con el Usuario</li>
          <li>Prompt</li>
          <li>Inputs</li>
          <li>Navegacion. Parte 1</li>
          <li>Navegación. Parte 2</li>
        </ol>
      </div>
      <div style="display: flex; justify-content: center;">
        <img style="margin-top: 40px;"
          src="https://cdn.ukad-group.com/media/2081/angular-ionic.jpg?width=500&height=282.3529411764706"
          alt="ionic-framework">
      </div>
      <div style="margin: 40px 0;">
        <ion-button color="tertiary" expand="block">
          Descargar pensum
          <ion-icon slot="end" name="cloud-download-sharp"></ion-icon>
        </ion-button>
        <ion-button color="success" expand="block">
          Comprar curso
          <ion-icon slot="end" name="cart-sharp"></ion-icon>
        </ion-button>
        <ion-button color="danger" expand="block">
          Añadir a favoritos
          <ion-icon slot="end" name="heart-sharp"></ion-icon>
        </ion-button>
      </div>
      <div style="font-size: 10px;" class="ion-text-center">
        <p><b>Nota:</b> el contenido general puede ser ajustado sin previo aviso.</p>
      </div>
    </article>
  </main>
</ion-content>

<ion-footer>
  <ion-toolbar class="ion-text-center">
    <ion-title>&copy; Jeandv</ion-title>
  </ion-toolbar>
</ion-footer>